body {
  background-color: #fcf8ec;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

.top-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.intro-text {
  padding: 5% 30%;
  font-size: 20px;
}

.middle-container {

}

.bottom-container {

}

h1 {
  color: #000;
  font-size: 562%;
  margin: 50px auto 80px auto;
  font-family: cursive;
}

h2 {
  color: #000;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
}

.testimonial-header {
  font-family: sans-serif;
}

.testimonial-paragraph {
  font-size: 20px;
}

.testimonials-image {
  width: 20%;
  padding: 3%;
}

.testimonials-image-website {
  width: 58%;
  padding: 3%;
}

.S {
  color: red;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain {

}

.profile-picture {
  padding: 3%;
  width: 18%;
  border-radius: 50%;
}

.coding-skills-picture {
  width: 25%;
  height: 50%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.chess-skills-picture {
  width: 25%;
  height: 50%;
  border-radius: 100%;
  float: right;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skills {
  margin-top: 10%;
}

.projects-gallery {
  background-color: #66BFBF;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 20px;
  margin-top: 50px;
}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 20px;
   font-weight: 100;
   padding: 30px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 40px auto 20px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
